// .test {
//   background-color: green;
// }

// .white-text {
//   color: white;
// }

.nav-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  font-family: Poppins;
  cursor: pointer;
}

@import 'lib';

.checkbox-container {
  label {
    @extend .btn-outlined-gray;
    @extend .text-gray;
    @extend .text-hover-white;
    &::before {
      content: "Don't ";
    }
    padding: 0 1rem;
  }

  input:checked + label {
    @extend .btn-outlined-secondary;
    @extend .text-secondary;
    @extend .text-hover-white;
    &::before {
      content: '';
    }
    padding: 0 1rem;
  }
}

.loading {
  opacity: 0;
  transition: opacity 500ms;
}

html {
  scroll-behavior: smooth;
}
